@page
@model ProjetoFoodTracker.Pages.MyActions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Actions</h1>
<hr />
<br />
<div>
    <h3>Add new Actions to this list</h3>
    <br />
    <form>
        <button type="submit" class="btn btn-primary m-1" asp-page="Create">Add New Action</button>
    </form>
</div>
<hr />
<br />
<div class="container">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Actions</h1>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="card-actions float-right">
                            <div class="card-body">
                                <table class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Foods</th>
                                            <th>Edit</th>
                                            <th>Details</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Actions)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ActionName)
                                                </td>
                                                <td>
                                                    <form>
                                                        <a class="btn btn-primary m-1" asp-route-id="@item.Id"asp-page="./Edit">Edit</a>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <a type="submit" class="btn btn-info m-1"asp-route-id="@item.Id" asp-page="./Details">Details</a>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form>
                                                        <a type="submit" class="btn btn-danger m-1"asp-route-id="@item.Id" asp-page="./Delete">Delete</a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
