@page
@model ProjetoFoodTracker.Pages.MealsModel
@{
}

@if(TempData["Failed"] != null)
{
    <div class="alert alert-danger">
    <strong>Failed! </strong> @TempData["Failed"]
</div>
<br />
}

<form method="post" asp-page-handler="AddMeal">
    <label class="col-sm-3 col-form-label">Insert Meal:</label>
    <br />

    Meal Name: <div class="col-sm-6"><input type="text" class="form-control" asp-for="meals.Name"></div>
    Meal Start: <div class="col-sm-6"><input type="datetime-local" class="form-control" asp-for="meals.MealStart"></div>
    Meal End: <div class="col-sm-6"><input type="datetime-local" class="form-control" asp-for="meals.MealEnded"></div>
    <br />
    <tr>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FoodMealsProp.FoodId" class="control-label"> Foods </label>
            <select asp-for="FoodMealsProp.FoodId" class="form-control" asp-items="ViewBag.FoodId"></select>
        </div>
        <div class="form-group">
            <label asp-for="portionsType.Id" class="control-label">Portions Type</label>
            <select asp-for="portionsType.Id" class="form-control" asp-items="ViewBag.Id"></select>
        </div>
                <div class="form-group">
            <label asp-for="FoodMealsProp.Quantity" class="control-label"></label>
            <input asp-for="FoodMealsProp.Quantity" class="form-control" />
            <span asp-validation-for="FoodMealsProp.Quantity" class="text-danger"></span>
        </div>
    </tr>
<br />
        <button type="submit" class="btn btn-primary mr-2">Submeter</button>
</form>

