@page
@model ProjetoFoodTracker.Pages.ImportCSVModel
@{
}

<form>
  <div class="form-group">
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
    <a asp-action="ImportToDb" asp-controller="Import" class="btn btn-primary">
        Import to Excel
    </a>
  </div>
      <br />
    <button type="button" class="btn btn-success">Success</button>
</form>