@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ProjetoFoodTracker.Pages.ImportModel
@using ProjetoFoodTracker.Data.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div class="jumbotron">
        <h1 class="display-4">Bem-vindo!</h1>
        <p class="lead">Aqui podes carregar ficheiros para ficarem guardados na App!</p>
        <hr class="my-4">
    </div>

    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <p>Se está a ver isto é porque é administrador, nada mau!</p>
        <form asp-page-handler="UploadtoDb" asp-route-sessioncount="10" method="post" enctype="multipart/form-data">
            <div class="for-group">
                <input name="file" type="file" class="form-control" />
                <br/>
                <button type="submit" class="btn-primary btn-primary rounded-pill ">Import</button>
            </div>
               <br/>
                <br/>
        </form>    
    }
</div>

<div>
    @if (string.IsNullOrWhiteSpace(Model.Filepath))
    {
        <img src="@Model.Filepath" alt="Alternate Text" />
    }
</div>
