@page
@model ProjetoFoodTracker.Pages.MyMeals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meals.MealsId" />
            <div class="form-group">
                <label asp-for="Meals.Name" class="control-label"></label>
                <input asp-for="Meals.Name" class="form-control" />
                <span asp-validation-for="Meals.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.Units" class="control-label"></label>
                <input asp-for="Meals.Units" class="form-control" />
                <span asp-validation-for="Meals.Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.Grams" class="control-label"></label>
                <input asp-for="Meals.Grams" class="form-control" />
                <span asp-validation-for="Meals.Grams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.Quantity" class="control-label"></label>
                <input asp-for="Meals.Quantity" class="form-control" />
                <span asp-validation-for="Meals.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.MealStart" class="control-label"></label>
                <input asp-for="Meals.MealStart" class="form-control" />
                <span asp-validation-for="Meals.MealStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meals.MealEnded" class="control-label"></label>
                <input asp-for="Meals.MealEnded" class="form-control" />
                <span asp-validation-for="Meals.MealEnded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
